html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    color: white;
}

body {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    background: #0984e3;
}

label,
input {
    margin-top: 1rem;
}

img {
    width: 6rem;
    height: 6rem;
}

button {
    background: none;
    border: none;
}

.refresh {
    width: 3rem;
    height: 3rem;
}


/* Utilidades */

.texto-centrado {
    text-align: center;
}


/* General */

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.contenido-principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    border: .3rem solid #fd79a8;
    box-shadow: 1rem 1rem 1rem .5rem rgba(0, 0, 0, 0.2);
    background: white;
    width: 80%;
}

.contenido-musical {
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    width: 80%;
}

.box-btn {
    display: flex;
    justify-content: space-evenly;
}

.resultados {
    display: flex;
}

.datos {
    margin-right: 1rem;
}

.box-resultados {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    margin-top: 1rem;
}

.battle {
    margin-right: 1rem;
}

.final-img {
    width: 20rem;
    height: 10rem;
}